:root {
	--tile-width: 400px;
	--nav-bar-height: 75px;
	--nav-color: #222;
	--nav-padding: 0 25px 0 25px;
	--nav-a-font: 24px;
	--nav-a-padding: 0 20px 0 20px;
	--nav-a-hover: green;
	--light-font: #eee;
	--welcome-h1-margin: calc(35vh - var(--nav-bar-height));
	--welcome-bg-color: #210934;
	--welcome-color: #E7F7D4;
	--flex-img-padding: 0 100px 0 100px;
	--project-bg: #700CBC;
	--project-fc: #210934;
	--project-tile-fs: 20px;
	--tile-br: 2px;
	--tile-border: 3px solid #210934;
	--contact-bg: #FB8604;
	--logo-br: 50%;
}

.flexed {
	display: flex;
}

.flex-img {
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: center;
	padding: var(--flex-img-padding);
}

.top {
	box-sizing: border-box;
	padding-top: var(--nav-bar-height);
}

.light-font {
	color: var(--light-font);
}

.enlarged {
	font-size: 2rem;
}
.project-tile {
	display: inline-block;
	width: var(--tile-width);
	height: auto;
	margin: 20px;
	border-radius: var(--tile-br);
	border: var(--tile-border);
	background-color: var(--project-fc);
	color: var(--welcome-color);
	font-size: var(--project-tile-fs);
}

.project-img {
	max-width: 100%;
	height: auto;
}
.logo-btn {
	width: 200px;
	height: auto;
	display: flex;
	align-items: center;
	color: initial;
}

.logo {
	width: 50%;
	height: auto;
	border-radius: var(--logo-br);
}

#navbar {
	box-sizing: border-box;
	width: 100%;
	height: var(--nav-bar-height);
	background-color: var(--nav-color);
	justify-content: flex-end;
	top: 0;
	position: sticky;
	padding: var(--nav-padding);
}

#navbar > div {
	height: 100%;
	padding: var(--nav-a-padding);
	font-size: var(--nav-a-font);
	align-items: center;
}

#navbar > div:hover {
	background-color: var(--nav-a-hover);
}

a {
	text-decoration: none;
	color: var(--light-font);
}

body {
	font-family: helvetica, arial, sans-serif;
	margin: 0;
	padding: 0;
}

main {
	text-align: center;
}

#welcome-section {
	height: 100vh;
	background-color: var(--welcome-bg-color);
	color: var(--welcome-color);
}

#welcome-section > h1 {
	margin-top: var(--welcome-h1-margin);
}

#projects {
	background-color: var(--project-bg);
	color: var(--project-fc);
}

#contact {
	background-color: var(--contact-bg);
	height: 100vh;
}

#contact > h2 {
	margin-top: var(--welcome-h1-margin);
}

#logos {
	display: flex;
	justify-content: center;
	align-items: center;
}
